<h1><%- title %></h1>
<section class="messages">
    <%- messages() %>
        <% if (errors) { %>
            <ul class="notice">
                <% errors.array().forEach(error=> { %>
                    <li>
                        <%= error.msg %>
                    </li>
                    <% }) %>
            </ul>
            <% } %>
</section>
<section class="management">
    <h2>Classifications Waiting Queue</h2>
    <%- classificationTable %>
</section>
<section class="management">
    <h2>Inventory Waiting Queue</h2>
    <%- inventoryTable %>
</section>