<% const d=new Date(); const year=d.getFullYear() %>
    <h1><%- title %></h1>
    <section class="messages">
        <%- messages() %>
            <% if (errors) { %>
                <ul class="notice">
                    <% errors.array().forEach(error=> { %>
                        <li>
                            <%= error.msg %>
                        </li>
                        <% }) %>
                </ul>
                <% } %>
    </section>
    <form action="/inv/delete" method="post">
        <label>Classification*
            <%- classificationList %>
        </label>
        <label>Make*
            <input type="text" name="inv_make" id="inv_make" pattern="^[A-Za-z]{3,}$" value="<%- locals.inv_make %>"
                required>
        </label>
        <label>Model*
            <input type="text" name="inv_model" id="inv_model" pattern="^[A-Za-z\s\d]{3,}$"
                value="<%- locals.inv_model %>" required>
        </label>
        <label>Description*
            <textarea name="inv_description" id="inv_description" minlength="1"
                required><%- locals.inv_description %></textarea>
        </label>
        <label>Image Path*
            <input type="text" name="inv_image" id="inv_image" value="<%- locals.inv_image %>" required>
        </label>
        <label>Thumbnail Path*
            <input type="text" name="inv_thumbnail" id="inv_thumbnail" value="<%- locals.inv_thumbnail %>" required>
        </label>
        <label>Price*
            <input type="number" name="inv_price" id="inv_price" step="any" value="<%- locals.inv_price %>" required>
        </label>
        <label>Year*
            <input type="number" name="inv_year" id="inv_year" min="1900" max="<%- year %>"
                value="<%- locals.inv_year %>" required>
        </label>
        <label>Miles*
            <input type="number" name="inv_miles" id="inv_miles" value="<%- locals.inv_miles %>" required>
        </label>
        <label>Color*
            <input type="text" name="inv_color" id="inv_color" pattern="^[A-Za-z]{3,}$" value="<%- locals.inv_color %>"
                required>
        </label>
        <fieldset>
            <legend>Item Approval</legend>
            <label>
                <input type="checkbox" data-modifier="inventory" name="inv_approval" id="inv_approval" class="sbs"
                    value="true"> Approved
            </label>
        </fieldset>
        <button class="dark" disabled>Reject Vehicle</button>
        <input type="hidden" name="inv_id" <% if(locals.inv_id) { %> value="<%= locals.inv_id %>" <% } %>>
    </form>

    <script type="module" src="../../../js/inv-update.js"></script>
    <script type="module" src="../../../js/approveOrReject.js"></script>